<h1>Introducing the new Waterbnb</h1>
<header>
    <h2>waterbnb</h2>
    <nav>
        <ul>
        <li>Home</li>
        <li>About</li>
        <li> <a href="/sign_up"></a> Sign up</li>
        <li>Log in</li>
        <li>Your Experience</li>
        <li>Help</li>
        </ul>
    </nav>

</header>
