<h1>Introducing the new Spacebnb</h1>
<header>
    <h2>Spacebnb</h2>
    <nav>
        <ul>
        <li>Home</li>
        <li>About</li>
        <li><a href="#">Sign up</li></a>
        <li>Log in</li>
        <li>Your Experience</li>
        <li>Help</li>
        </ul>
    </nav>

</header>
