<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>PropertyFinder</title></title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="page-wrapper">
      <header class="nav-bar">
        <h2><a href="/">PropertyFinder</a> </h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>

        

                <%if logged_in? %>
                 <%if current_user['user_type'] == 'agent' %>
                  <li><a  href="/properties/agent_dashboard">Dashboard</a></li>

                <% else %> 
                  <li><a  href="/properties/customer_dashboard">Dashboard</a></li>
                <% end %>

                <li><a  href="/signout">Sign out</a></li>

                <% else %>
                  <li><a  href="/sign_up">Join</a></li>
                  <li><a  href="/login">Sign in</a></li>
                <% end %>

             
               

                <li> <a href="/help_center">Help</a></li>
            </ul>
        </nav>
      </header>

      <%# main contennt %>
      <%= yield %>

    </div>

  </body> 
</html>
