.home_page_header {
    display: flex;
    justify-content: space-between;
}

.home_page_header ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.home_page_header ul li {
    list-style: none;
}

.login-page-section, .signup-page-section {
    text-align: center;
    margin: 50px;
}

.login-page-section form div {
  margin: 30px;
}

.signup-page-section form div{
    margin: 30px;
}

.add-new-property-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

}