body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* color: #840056; */
    color:#4e0434e5;
}

.link-button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #AE0F54;
    border: none;
    border-radius: 15px;
    text-decoration: none;
}
.link-button:hover {background-color: #9B0A49;
}

.button {
    border-radius: 4px;
    background-color: #AE0F54;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 15px 25px;    
    /* width: 200px; */
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    

}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
} 
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
 
.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.page-wrapper{
    width: 50vw;
    margin: auto;
}

.nav-bar { 
    background-color:  #AE0F54; 
    color:white;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    margin-bottom: 20px;
}
/* @media only screen and (max-width: 768px) {
    /* For mobile phones: */
   
  } */




.nav-bar h2 a {
    font-size: 25px;
}

.nav-bar ul {
    display: flex;
    justify-content: space-between;
   
    gap: 50px;
}
.nav-bar ul li{
    list-style: none;
    color: white;
}

.nav-bar a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.nav-bar  a:hover   {
    text-decoration: underline;
}

.hero-image {
    margin-top: 10px;
    width: 100%;
}


.search-container {
    position: absolute;
    top: 220px;
    width: 50vw;
}


.search-text-box input {
    padding: 20px 20px;
    width: 500px;  
    font-size: 20px; 
    border-radius: 5px;
    border: 1px solid black;
}


.login-page-section, .signup-page-section {
    text-align: center;
    margin: 50px;
}

.login-page-section form div {
  margin: 30px;
}

.signup-page-section form div{
    margin: 30px;
}

.property-form-content {
    display: grid;
    /* flex-direction: column; */
    justify-content: space-between;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 50px 0px;

}

/* .hero-image { width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
} */
.agent-dashboard-page-wrapper .user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-image {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
}
.property-detail-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.property-detail-card {
    border: 1px solid #AE0F54;
    margin: 20px;
    width: 20vw;
    padding: 10px;
    transition: 0.5s;
    border-radius: 5px;
}

.property-detail-card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.update-delete-link-container{
    display: flex;
    justify-content: end;
    margin: 20px;
    gap: 20px;
}

.property-detail-card img {
    width: 300px;
}

input {
    padding: 10px 15px;
    width: 250px;
}

.help-page-wrapper section {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.help-page-wrapper section div {
    display: flex;
    flex-direction: column;
}

.help-page-wrapper section li a {
    text-decoration: none;
    font-size: 20px;
    color:#9B0A49;
}

.help-page-wrapper section p  {
    margin: 0;
}

