<div class="help-page">
    <h1>Help For the Property Seekers</h1>
    <p>We've rounded up few links to help you with</p>
    <div class="help-page-wrapper">

    <img src="https://images.unsplash.com/photo-1579356687668-cbdd5a551c18?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGVscCUyMGRlc2t8ZW58MHx8MHx8&auto=format&fit=crop&w=500" alt="">

        <div>
            <h3>RESEARCH TOOLS</h3>
            <ul>
                <li><a href="https://londonerinsydney.com/where-to-live-in-sydney/">Where to live in sydney in 2022</li></a>
                <li><a href="https://www.savings.com.au/home-loans/investing/top-australian-suburbs-for-rental-yield-revealed">Top Australian suburbs for Rental yeild</li></a>
                <li> <a href="https://www.propertyguides.com/australia/news/rules-renting-property-australia/">Australia Property guide</li></a>
            
            </ul> 

        </div> 



        <div>
            <h3>Need more help?</h3>
            <p>Reach out to us</p>
            <h4>email: propertyfinderga@gmail.com</h4>
            <h4>contact: 0234561788</h4>

        </div>

    </div>

</div>










