<h1>Introducing the new PropertyFinder</h1>
<h2>Find the suitable properties to call it your Home</h2>

<%if logged_in? %>
    <h2>Welcome <%= current_user['name'] %></h2>
<% end %>

<header class="home_page_header">
    <h2>PropertyFinder logo</h2>
    <nav>
        <ul>
        <li>Home</li>
        <li>About</li>
            <%if logged_in? && current_user['user_type'] != 'agent' %>
                <form action="/login_sessions" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <button>Logout</button>
                </form>
            <% else %>
                <li><a href="/sign_up">Sign up</li></a>
                <li><a href="/login">Log in</li></a>
                <%# <li><a href="/agent_dashboard">Agent's Dashboard</a></li> %>
            <% end %>
        <li>Help</li>
        </ul>
    </nav>
</header>

<div>
<form action="/properties/listings">
    <label for="property_search">Search for your dream property</label>
    <input type="text" name="property_search">
    <button type="button">Filter</button>
    <button>Search</button>
</form>
</div>

