
<div class="home-page-wrapper">
<h2>Find Your Dream Property</h2>
<h4>Right Property is just a click away!</h4>


<img class="hero-image" src="https://media4.giphy.com/media/l0IylQoMkcbZUbtKw/giphy.gif" alt="">

<div class="search-container">
    <form class="search-text-box" action="/properties/search" method='post'>
        <label for="search_text"></label>
        <input type="text" name="search_text" placeholder="Search property with suburb names...">
        <button class="button" type="submit"> <span><i class="fa fa-search"></i> Search</span></button>
    </form>
</div>

</div>