
<div class="home-page-wrapper">

<h1><i class="fa fa-key" style="color:red;"></i>Introducing the new PropertyFinder</h1>
<h2>Find the suitable properties to call it your Home</h2>

<%# <img class="hero-image" src="https://guardian.ng/wp-content/uploads/2017/04/Tips-for-Real-Estate-Content.jpg" alt=""> %>

<header class="home_page_header">
    <h2>PropertyFinder logo</h2>
    <nav>
        <ul>
            <li>Home</li>
            <li><a href="/about">About</li></a> 
            <li><a  href="/sign_up">Join</li></a>
            <li><a  href="/login">Sign in</li></a>
            <li> <a href="/help_center">Help</li></a>
        </ul>
    </nav>
</header>

<img src="https://media4.giphy.com/media/l0IylQoMkcbZUbtKw/giphy.gif" alt="">

<h2>Search for your dream property</h2>


<div>
    <form class="search-text-box" action="/properties/search" method='post'>
        <label for="search_text"></label>
        <input type="text" name="search_text" placeholder="Search property with suburb names.">
        <button class="button" type="submit"> <span> <i class="fa fa-search">  Search</i></span></button>
        <%# <button>Search</button> %>
    </form>
</div>

</div>