<h1>Welcome <%= current_user['name'] %> </h1>
<div><a href="/logout">logout</a></div>
<div><a href="/">HOME</a></div>

<div><a href="/properties/create">ADD NEW PROPERTY</a></div>

<div style="width:200px;height:200px;background-color:red;margin:50px;"></div>
<a href="/properties/update">EDIT</a>
<form action="">
    <button>Remove</button>
</form>
<div style="width:200px;height:200px;background-color:red;margin:50px;"></div>

<a href="/properties/update">EDIT</a>
<form action="">
    <button>Remove</button>
</form>

<div style="width:200px;height:200px;background-color:red;margin:50px;"></div>
<a href="">EDIT</a>
<form action="">
    <button>Remove</button>
</form>

