
<h1>Hi! AGENTNAME</h1>
<a href="/agent_dashboard">Return to my Dashboard</a>
<div><a href="/logout">logout</a></div>

<h2>Add details of the property to add it to your list </h2>
<section>
    <form class="add-new-property-form" action="/create_properties" method = "POST">
        <input type="text" name="image_url" placeholder="Add an image of the property">
        <input type="text" name="ad_line" placeholder="Advertise Title">
        <input type="text" name="street_number" placeholder="House/street_number">
        <input type="text" name="street_name" placeholder="House/street name">
        <input type="text" name="postcode" placeholder="Postcode">
        <input type="text" name="city" placeholder="Suburb">
        <input type="text" name="state" placeholder="State">
        <input type="text" name="country" placeholder="Country">
        <input type="text" name="property_type" placeholder="Property type">
        <input type="text" name="num_of_bedrooms" placeholder="Number of bedrooms">
        <input type="text" name="num_of_bathrooms" placeholder="Number of baths">
        <input type="text" name="num_of_parkings" placeholder="Number of parking available">
        <input type="text" name="price" placeholder="Price per week or month in AUD">
        <input type="text" name="created_by" placeholder="Created by">
        <input type="text" name="agent_contact" placeholder="Contact_number">


        <button>Add property</button>
    </form>
</section>