<h2>Welcome <%= current_user['name'] %></h2>
<img class="user-image" src="<%= current_user['user_image']%>" alt="">
<h2><i class="fa fa-phone"></i>  <%= current_user['user_contact_info']%></h2>
         

<h3>All your favourite properties are here</h3>


   