   <h2>Welcome <%= current_user['name'] %></h2>
    <img class="user-image" src="<%= current_user['user_image']%>" alt="">
    <h2>Contact: <%= current_user['user_contact_info']%> </h2>

    <form action="/login_sessions" method="POST">
        <input type="hidden" name="_method" value="delete">
        <button>Logout</button>
    </form>

    <h3>All your favourite properties are here</h3>