
<h1>Hi! AGENTNAME</h1>
<a href="/agent-dashboard">Return to my Dashboard</a>
<div><a href="/logout">logout</a></div>

<h2>Update details of the property in your list </h2>
<section>
    <form class="update-new-property-form" action="" method = "POST">
        <input type="text" name="property_img_url" placeholder="Add an image of the property" value="">
        <input type="text" name="street_number" placeholder="House/street_number">
        <input type="text" name="street_name" placeholder="House/street name">
        <input type="text" name="postcode" placeholder="Postcode">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="state" placeholder="State">
        <input type="text" name="country" placeholder="Country">
        <input type="text" name="property_type" placeholder="Property type">
        <input type="text" name="num_of_bedrooms" placeholder="Number of bedrooms">
        <input type="text" name="num_of_bathrooms" placeholder="Number of baths">
        <input type="text" name="num_of_parkings" placeholder="Number of parking available">
        <input type="text" name="price" placeholder="Price per week or month in AUD">

        <button>Add property</button>
    </form>
</section>