<section class="login-page-section">

<header>
    <img src="" alt="logo">
    <h1>PropertyFinder</h1>
</header>

<h2>Join Us!</h2>
<form class="login-form" action="/login_sessions">
    <div>
        <input type="text" value = "email" placeholder="Email address">
    </div>
    <div>
        <input type="text" value = "password" placeholder="Password">
    </div>
    <button>Log in</button>
</form>

<p>Not signed up?<span><a href="/sign_up">Create an account.</a></span></p>

<footer>
    <p>Personal Information Collection Statement.</p>
</footer>

</section>