<section class="login-page-section">
<a href="/">HOME</a>
<header>
    <img src="" alt="logo">
    <h1>PropertyFinder</h1>
</header>

<h2>Sign in</h2>
<form class="login-form" action="/login_sessions" method="POST">
    <div>
        <input type="text" name="email" placeholder="Email address">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    <button class="button"><span>Join us</span></button>
</form>

<p>Not signed up?<span><a href="/sign_up">Create an account.</a></span></p>

<footer>
    <p>Personal Information Collection Statement.</p>
</footer>

</section>