<section class="signup-page-section">
<a href="/">HOME</a>
<header>
    <img src="" alt="logo">
    <h1>PropertyFinder</h1>
</header>

<h2>Join Us!</h2>
<form class="signup-form" action="/create_user" method="POST">
    <div>
        <input type="text" value="email" placeholder="Email address">
    </div>
    <div>
        <input type="text" value="password" placeholder="Password">
    </div>
    <button>Create account</button>
</form>

<p>Already have an account with us?<span><a href="/login">Sign in</a></span></p>

<footer>
    <p>Personal Information Collection Statement.</p>
</footer>

</section>