<section class="signup-page-section">


<h2>Join Us!</h2>
<form class="signup-form" action="/create_user" method="POST">
    <div>
        <input  type="text" name="user_image" placeholder="Add profile photo ">
    </div>
    <div>
        <input type="text" name="name" placeholder="Name">
    </div>
    <div>
        <input type="text" name="email" placeholder="Email address">
    </div>
    <div>
        <input type="password" name="password" placeholder="Password">
    </div>
    <div>
        <label for="user_type">Are you joining as an agent?</label>
        <select name="user_type" id="user_type">
            <option value="agent">YES</option>
            <option value="customer">NO</option>
        </select>
    </div>
      <div>
        <input type="tel" name="user_contact_info" placeholder="Contact number">
    </div>
    <button class="button"><span>Create account</span></button>
</form>

<p>Already have an account with us? <span><a href="/login">Sign in</a></span></p>



</section>